ion-header {
  --font-family: montserrat;
  --background: rgb(243, 242, 242);
}
ion-content {
  ---font-family: montserrat;
  --background: rgb(243, 242, 242);
}


ion-list {
  margin: 2px 0px 30px 10px;
  --background: rgb(243, 242, 242);
  width: 95vw;
}

ion-item {
  --background: rgb(243, 242, 242);
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 0;

}

ion-item::part(native) {
  padding-bottom: 6px;
}

ion-item::part(native)::after {
  content: '';
  position: absolute;
  left: 16px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(83, 146, 191, 0.747);
}

ion-label {
  --background: rgb(243, 242, 242);
  opacity: 0.7;
}
ion-item {
  --border-color: var(--item-border-color, rgba(49, 124, 167, 0.892));
  --border-width: 0 0 1px 0;
  --border-style: solid;
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 5px 10px;
}
.back-btn {
  width: 20px;
  height: 25px;
}
.title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
.icon {
  width: 18px;
  height: 18px;
  color:black;
}

